<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headerResources :: header_resources"></head>


<body>
<!-- header -->
<nav th:insert="fragments/navbar :: nav_fragment"></nav>

<!-- main container -->
<div class="container customerContainer bg-dark">
    <div class="card">
        <div class="card-header card bg-dark text-white">
            <h2> Shipping form </h2>
        </div>
    </div>


    <div class="card-body text-white">

        <form th:action="@{/AddBoxForm}" method="post" th:object="${box}">

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="name"> Name: </label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name"
                               name="name">
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-check col-sm-3">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" th:field="*{type}"
                                       value="Letter"> Letter
                            </label>
                        </div>

                        <div class="form-check col-sm-3">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{type}" name="optradio"
                                       value="Packet"> Packet
                            </label>
                        </div>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="weight"> Weight: </label>
                        <input type="number" th:field="*{weight}" id="weight" class="form-control" placeholder="Weight"
                               name="weight">
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></p>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="weightType"> Weight Type: </label>
                        <select class="form-control" id="weightType" th:field="*{weightType}" name="weightType">
                            <option value="kg"> KG</option>
                            <option value="g"> G</option>
                        </select>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('weightType')}"
                           th:errors="*{weightType}"></p>
                    </div>


                    <div class="col-sm-6 form-group">
                        <label for="country"> Country: </label>
                        <select class="form-control" id="country" th:field="*{country}" name="country">
                            <option value="SWE"> Sweden</option>
                            <option value="AU"> Australia</option>
                        </select>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('country')}"
                           th:errors="*{country}"></p>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-3">
                Register
            </button>
        </form>

    </div>
</div>


<!-- footer -->
<footer th:insert="fragments/footer :: footer_fragment"></footer>

</body>
</html>